@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
  background-color: #1B1B3A;
  color: #BDBDE0;

  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}